.Container {
    max-width: 60rem;
    margin: 3rem auto 0;
    font-family: sans-serif;


    a{
      color:red;
      font-weight: bold;
    }
    
    h1 {
      color: rgb(225, 0, 255);
    }
    
    p {
      color: rgb(153, 153, 153);
    }
  }